<!DOCTYPE HTML>
<html>
  
   <head>
        <title>404</title>
		<meta name="description" content="" />
		<meta name="author" content="chibchasoft" />
		<link rel="shortcut icon" href="{{ STATIC_URL }}uv_music/css/img/favicon.ico" />
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}uv_music/css/img/apple-touch-icon-iphone.png" />
   </head>

   <body>
      <header>
			<h1>Univalle-Music 404 Error</h1>
	  </header>
      <p>
        <h1>Lo sentimos no encontramos lo que estas buscando</h1>
      <p>
        <img src="/static/uv_music/css/img/kernel.jpg">
      </p>
      <nav>
		 <p>
		    <a href="{% url uv_music_inicio %}">Inicio</a>
		 </p>				
	  </nav>
			
	  <footer>
		<a href="#" id="chibcha" title="CopyLeft">
		   &copy; Copyleft  by chibchasoft 2012
		</a>				
	  </footer>

   </body>

</html>