<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />		
		<title>home</title>
		<meta name="description" content="" />
		<meta name="author" content="chibchasoft" />		
		
		<link rel="shortcut icon" href="{{ STATIC_URL }}uv_music/css/img/favicon.ico" />
		<link rel="apple-touch-icon" href="{{ STATIC_URL }}uv_music/css/img/apple-touch-icon-iphone.png" />
		<link rel="stylesheet" href="{{ STATIC_URL }}uv_music/js/player/jplayer.blue.monday.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
		<script type="text/javascript" src="{{ STATIC_URL }}uv_music/js/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}uv_music/js/player/jquery.jplayer.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}uv_music/js/player/jplayer.playlist.min.js"></script>
        <script type="text/javascript">
        //<![CDATA[ 
            $(document).ready(function(){
              $('html').ajaxSend(function(event, xhr, settings) {
                   function getCookie(name) {
                           var cookieValue = null;
                           if (document.cookie && document.cookie != '') {
                           var cookies = document.cookie.split(';');
                           for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                           // Does this cookie string begin with the name we want?
                           if (cookie.substring(0, name.length + 1) == (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                          }
                         }
                        }
                    return cookieValue;
                   }
                   if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                       // Only send the token to relative URLs i.e. locally.
                       xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                   }
                });

                var cssSelector = { jPlayer: "#jquery_jplayer_1", cssSelectorAncestor: "#jp_container_1" };
                var playlist = []; // Empty playlist
                var options = { solution: "flash, html", swfPath: "{{ STATIC_URL }}uv_music/js/player", supplied: "webma, m4a, oga, mp3, wma" };
                var myPlaylist = new jPlayerPlaylist(cssSelector, playlist, options);
	            
                $.ajax({
                         type: 'POST',                         
			             url: '/univalle-music/stream/',
                         data: 'accion=stream_audio',
                         dataType: 'json',                         
			             async: true,
                         success: function(data){
				                  myPlaylist.setPlaylist(data);				                    
			             }
			     });                  
            });
         //]]>
        </script>
	</head>

	<body>		
			<header>
				<h1>Bienvenido a Univalle-Music</h1>
			</header>
           
<div id="jquery_jplayer_1" class="jp-jplayer"></div>

		<div id="jp_container_1" class="jp-audio">
			<div class="jp-type-playlist">
				<div class="jp-gui jp-interface">
					<ul class="jp-controls">
						<li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
						<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
						<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
						<li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
						<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
						<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
						<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
						<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
					</ul>
					<div class="jp-progress">
						<div class="jp-seek-bar">
							<div class="jp-play-bar"></div>

						</div>
					</div>
					<div class="jp-volume-bar">
						<div class="jp-volume-bar-value"></div>
					</div>
					<div class="jp-current-time"></div>
					<div class="jp-duration"></div>
					<ul class="jp-toggles">
						<li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
						<li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
						<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
						<li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
					</ul>
				</div>
				<div class="jp-playlist">
					<ul>
						<li></li>
					</ul>
				</div>
				<div class="jp-no-solution">
					<span>Update Required</span>
					To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
				</div>
			</div>
		</div>	
	        <div>
				<form action="{% url uv_music_audio %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <p>seleciona los archivos a subir
                        <input id="accion" name="accion" type="hidden" value="subir_audio">
						<input type="file" multiple="multiple" name="audio" accept="audio/mpeg" size="40"/>						
					</p>
			       <div>
			       	  	<input type="submit" value="Subir"/>
			       </div>
		        </form>
			</div>
			<nav>
				<p>
					<a href="{% url uv_music_inicio %}">Home</a>
				</p>				
			</nav>			
			<footer>
				<a href="#" id="chibcha" title="CopyLeft">
					&copy; Copyleft  by chibchasoft 2012
				</a>				
			</footer>		
	</body>
</html>
